:root{
    --green: #4CAF4F;
    --silver:#F5F7FA;
}
.grn-btn{
    background-color: var(--green);
    color: #F5F7FA;
}
.hero-bg{
    background-color: var(--silver);
}
.hero-grn{
    color: var(--green);
}
